<div class="container-fluid text-center my-3" style="min-height: 640px">
        <h1>Welcome to The Great Products! Thank You! Visit Again!</h1>
        <!-- <a [href]="baseUrlEnv + '/'" target="_blank">
                <img src="logo.png" />
        </a> -->
        <a target="_blank" href="/subcategories" class="d-flex justify-content-center">
                <h2 class="w-25 bg-dark py-2 border rounded-3 text-warning text-center">Sub Category</h2>
        </a>
        <div class="row d-flex justify-content-center cursor-pointer">
                <div *ngFor="let subCategory of subcategories; let i= index"
                        class="col-2 m-1 d-flex align-items-center justify-content-center border rounded-3 bg-dark p-0"
                        style="min-height:250px">
                        <a target="_blank" [href]="'/products/'+subCategory.name">
                                <!-- style="background-image: url('background-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;" -->
                                <h4 class="w-100 text-white">
                                        <img class="logo-img border border-1 rounded-3"
                                                [src]="sanitizer.bypassSecurityTrustUrl(subCategory.imgUrl)"
                                                [alt]="subCategory.name" />
                                        <br />
                                        <br />
                                        <span class="text-warning pt-5">{{subCategory.name}}</span>
                                </h4>
                        </a>
                </div>
        </div>
        <a target="_blank" href="/categories" class="d-flex justify-content-center">
                <h2 class="w-25 bg-dark py-2 border rounded-3 text-warning text-center">Category</h2>
        </a>
        <div class="row d-flex justify-content-center cursor-pointer">
                <div *ngFor="let category of categories; let i= index"
                        class="col-2 m-1 d-flex align-items-center justify-content-center border rounded-3 p-0 bg-dark"
                        style="min-height:250px">
                        <!-- style="background-image: url('background-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;" -->
                        <a target="_blank" [href]="'/products/'+category.name">
                                <h4 class="w-100 text-white">
                                        <img class="logo-img border border-1 rounded-3"
                                                [src]="sanitizer.bypassSecurityTrustUrl(category.imgUrl)"
                                                [alt]="category.name" />
                                        <br />
                                        <br />
                                        <span class="text-warning">{{category.name}}</span>
                                </h4>
                        </a>
                </div>
        </div>
        <a target="_blank" href="/brands" class="d-flex justify-content-center">
                <h2 class="w-25 bg-dark py-2 border rounded-3 text-warning text-center">
                        Brands</h2>
        </a>
        <div class="row d-flex justify-content-center cursor-pointer">
                <div *ngFor="let brand of brands; let i= index"
                        class="col-2 d-flex  justify-content-center border rounded-3 p-0 bg-dark m-1">
                        <a target="_blank" [href]="'/products/'+brand.name" class="d-flex align-items-center"
                        style="min-height:150px">
                                <h4 class="w-100 py-2 text-white">
                                        <img class="logo-img border border-1 rounded-3"
                                                [src]="sanitizer.bypassSecurityTrustUrl(brand.logoUrl)"
                                                [alt]="brand.name" />
                                </h4>
                        </a>
                </div>
        </div>
</div>
<ng-container *ngIf="isBrowser && structuredDataSet">
        <div [innerHTML]="structuredData"></div>
</ng-container>