<div class="container-fluid text-center my-3" style="min-height: 640px">
        <h1>Welcome to The Great Categories! Thank You! Visit Again!</h1>
        <!-- <a [href]="baseUrlEnv + '/'" target="_blank">
                <img src="logo.png" />
        </a> -->
        <form [formGroup]="searchForm" novalidate="novalidate" autocomplete="off" class="d-flex justify-content-center">
                <div class="row m-0 p-0">
                        <mat-form-field class="bg-white w-100">
                                <input placeholder="Search Categories ..." formControlName="name" id="name" name="name"
                                        matInput (keyup)="searching($event)">
                        </mat-form-field>
                </div>
        </form>
        <div class="col-12 py-3 border border-2 text-decoration-none text-white"
                style="background: linear-gradient(1.35turn, #003366, #7dbcde)">
                <ng-container *ngFor="let category of categories; let i= index">
                        <a [href]="'/products/'+category.name" target="_blank">
                                <div class="d-flex justify-content-center">
                                        <h4 class="w-50 bg-dark py-2 border rounded-4 text-black">
                                                <img class="logo-img border border-1 rounded-3"
                                                        [src]="sanitizer.bypassSecurityTrustUrl(category.imgUrl)"
                                                        [alt]="category.name" />
                                        </h4>
                                </div>
                        </a>
                        <div class="row mx-0 mb-5 justify-content-center">
                                <ng-container *ngIf="getIsLoading(category._id)">
                                        <div class="col-11 my-5">
                                                <img class="loading-gif" src="loading.gif" alt="loading...">
                                        </div>
                                </ng-container>
                                <ng-container *ngFor="let item of category.products">
                                        <a [href]="sanitizer.bypassSecurityTrustUrl(item.affiliateLink || '#')"
                                                target="_blank"
                                                class="px-3 py-3 m-2 border rounded text-decoration-none col-xl-2 col-lg-3 col-md-5"
                                                style="background-image: url('background-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                                <div class="d-flex align-items-center justify-content-start gap-xl-3 gap-md-2 gap-sm-2 gap-1 category-text fw-bold border border-1 py-2 px-3 rounded text-white"
                                                        style="min-height:50px">
                                                        <span class="text-start title"
                                                                [ngbTooltip]="item.category.name && item.category.name.length > ( screenWidth > 1000 ? 10 : 30) ? item.category.name : ''"
                                                                position="top" container="body">
                                                                {{_utilService.textTruncate(item.category.name,(
                                                                screenWidth >
                                                                1000 ? 10 : 30))}}
                                                        </span>
                                                        <span style="margin-top:2px"
                                                                *ngIf="item.category.name || item.subCategory.name">
                                                                &gt;
                                                        </span>
                                                        <span class="text-start title"
                                                                [ngbTooltip]="item.subCategory.name && item.subCategory.name.length > ( screenWidth > 1000 ? 10 : 30) ? item.subCategory.name : ''"
                                                                position="top" container="body">
                                                                {{_utilService.textTruncate(item.subCategory.name,(
                                                                screenWidth
                                                                > 1000 ? 10 : 30))}} </span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-center my-3"
                                                        style="min-height:275px">
                                                        <img class="card-img border border-1 rounded-3"
                                                                [src]="sanitizer.bypassSecurityTrustUrl(item.imgUrl)"
                                                                [alt]="item.name" />
                                                </div>
                                                <div class="mx-2 d-flex flex-column">
                                                        <span class="text-start fw-bolder brand fs-6 text-white"
                                                                [ngbTooltip]="item.brand.name && item.brand.name.length > 20 ? item.brand.name : ''"
                                                                position="top"
                                                                container="body">{{_utilService.textTruncate(item.brand.name,20)}}</span>
                                                        <span class="text-start product-title fw-bolder text-white"
                                                                style="min-height:75px"
                                                                [ngbTooltip]="item.name && item.name.length > 125 ? item.name : ''"
                                                                position="top"
                                                                container="body">{{_utilService.textTruncate(item.name,125)}}</span>
                                                        <ng-container *ngIf="item.colors && item.colors?.length">
                                                                <div class="d-flex mt-1">
                                                                        <ng-container
                                                                                *ngFor="let color of item.colors; let i = index;">
                                                                                <ng-container *ngIf="i < 5">
                                                                                        <span [ngbTooltip]="color"
                                                                                                class="border rounded-3 me-1 bg-white"
                                                                                                position="top"
                                                                                                container="body">
                                                                                                <svg width="30"
                                                                                                        height="30"
                                                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                                                        <rect width="15"
                                                                                                                height="15"
                                                                                                                x="7.5"
                                                                                                                y="7.5"
                                                                                                                rx="15"
                                                                                                                ry="15"
                                                                                                                [attr.fill]="color" />
                                                                                                </svg>
                                                                                        </span>
                                                                                </ng-container>
                                                                                <ng-container *ngIf="i === 5">
                                                                                        <span
                                                                                                class="fw-bolder fs-5 text-white">...</span>
                                                                                </ng-container>
                                                                        </ng-container>
                                                                </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.sizes && item.sizes.length > 0">
                                                                <div class="d-flex gap-1" style="flex: 1 1 0px;">
                                                                        <ng-container
                                                                                *ngFor="let size of item.sizes; let i = index;">
                                                                                <ng-container *ngIf="i < 4">
                                                                                        <span
                                                                                                class="border rounded px-1 py-1 mb-2 mt-1 fs-5 fw-bolder text-white border-1 size-label">{{size}}</span>
                                                                                </ng-container>
                                                                                <ng-container *ngIf="i === 4">
                                                                                        <span
                                                                                                class="fw-bolder fs-5 text-white">...</span>
                                                                                </ng-container>
                                                                        </ng-container>
                                                                </div>
                                                        </ng-container>
                                                </div>
                                        </a>
                                </ng-container>
                                <ng-container
                                        *ngIf="!getIsLoading(category._id) && category.products && category.products.length <= 0">
                                        <div class="col-12 my-5">
                                                <span class="no-found-text">No Products Found Currenly for your
                                                        Search!</span>
                                        </div>
                                </ng-container>
                        </div>
                        <hr *ngIf="i < categories.length - 1"
                                style="border:5px solid white !important; margin-bottom: 50px; margin-top:50px" />
                </ng-container>
        </div>
</div>
<ng-container *ngIf="isBrowser && structuredDataSet">
        <div [innerHTML]="structuredData"></div>
</ng-container>