<div class="container my-3" style="min-height: 395px">
    <h1 class="py-2">Disclaimer</h1>
    <p>
        This website <a class="text-primary"
        target="_blank"
            href="https://thegreatproducts.com/">https://thegreatproducts.com/</a> is designed to run for Amazon
        Affiliate Program As an Amazon Associate I earn from qualifying purchases, Product prices and availability
        are accurate as of the date/time indicated and are subject to change. Any price and available information
        displayed on <a class="text-primary" 
        target="_blank"
        href="https://www.amazon.in/">https://www.amazon.in/</a> at the time of
        purchase will apply to
        the
        purchase of this product.
    </p>
    <p class="text-danger">
        DISCLAIMER: CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON SELLER SERVICES
        PRIVATE LIMITED. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME, Amazon and
        the
        Amazon logo are tradenarks of <a class="text-primary" href="https://www.amazon.in/" target="_blank">Amazon.com, Inc.</a> or its
        affiliates
    </p>
    <p>
        If you encounter differences for various operating systems or devices, please be aware that some of our
        solutions may not work universally.
    </p>
    <p>
        We assure you that we do not publish false or spam content, and we strive to provide accurate information. If
        you experience issues with any of our solutions, there may be specific reasons for it. In such cases, feel free
        to contact us via the provided email.
    </p>
    <h2 class="fw-bold">Affiliate Disclaimer</h2>
    <p>
We are a participant in the Amazon Associates Program, an affiliate advertising program designed to provide a means for websites to earn advertising fees by advertising and linking to Amazon.in.
</p>
<p>
As part of this program, we may earn a commission on qualifying purchases made through links on this website. This comes at no additional cost to you, the buyer. The product prices, availability, and other details displayed are accurate as of the time of publication but may change without notice at Amazon’s discretion.
</p>
<p>
We do not make any guarantees about the completeness, reliability, or accuracy of product descriptions or pricing, and we are not responsible for any issues arising from purchases made through Amazon.in.
</p>
<p>
All trademarks and content are the property of their respective owners. Amazon and the Amazon logo are trademarks of Amazon.in, Inc. or its affiliates.
</p>
<p>
By using our affiliate links, you support our platform, and we sincerely appreciate your trust.
</p>   
<p class="fw-bold">Sincerely,</p>

    <p class="fw-bold">The Great Products Team</p>
</div>