<hr />
<div class="d-flex gap-5 justify-content-center bg-light mb-3">
    <a href="/home">Home</a>
    <a href="/products">Products</a>
    <a href="/blogs">Blogs</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/disclaimer">Disclaimer</a>
</div>
<!-- <div class="bg-light w-100 text-center footer-title">
    <span class="text-dark">As an Amazon Associate I earn from qualifying purchases, Product prices and availability
        are accurate as of the date/time indicated and are subject to change. Any price and available information
        displayed on <a href="https://www.amazon.in/">https://www.amazon.in/</a> at the time of purchase will apply to
        the
        purchase of this product</span>
    <br />
    <span class="text-danger fw-bolder">DISCLAIMER: CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON SELLER SERVICES
        PRIVATE LIMITED. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME, Amazon and
        the
        Amazon logo are tradenarks of <a href="https://www.amazon.in/">Amazon.com, Inc.</a> or its affiliates</span>
</div> -->