<div class="text-center">
    <h1>Blogs</h1>
    <div class="d-flex align-items-center justify-content-center gap-5">
        <div>
            <a [href]="baseUrlEnv">
                <img src="logo.png" style="width:80px; height: 40px;" />
            </a>
        </div>
        <div class="mt-1">
            <form [formGroup]="searchForm" novalidate="novalidate" autocomplete="off"
                class="d-flex justify-content-center">
                <mat-form-field class="bg-white" style="min-width: 600px">
                    <input placeholder="Search Blogs ..." formControlName="title" id="title" name="title" matInput
                        (keyup)="searching($event)">
                </mat-form-field>
            </form>
        </div>
        <div>
            <a href="/products">Products</a>
        </div>
    </div>
    <div class="row mx-0 mb-3 justify-content-center">
        <ng-container *ngIf="isLoading">
            <img class="loading-gif mt-5" src="loading.gif">
        </ng-container>
        <ng-container *ngIf="!isLoading && blogs.length > 0">
            <ng-container *ngFor="let item of blogs">
                <a [href]="baseUrlEnv+'/blog/'+item.url"
                    class="col-12 py-3 border border-2 text-decoration-none text-dark">
                    <div class="d-flex gap-3 align-items-center">
                        <div>
                            <img src="logo.png" style="width:100px; height: 50px;" />
                        </div>
                        <div class="mt-1">
                            <span>{{ _utilService.textTruncate(item.title, 180)}}</span>
                        </div>
                    </div>
                </a>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLoading && blogs.length <= 0">
            <span class="no-found-text">No Blogs Found Currenly for your Search!</span>
        </ng-container>
    </div>
    <app-footer-links></app-footer-links>
</div>
<div *ngIf="structuredData" [innerHTML]="structuredData"></div>