/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Amazon Ember", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.loading-gif {
  width: 25px;
}
